.page-subtitle h4 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}

.dropdown-content.select-dropdown {
  top: 55px !important;
  max-height: 380px !important;
}

.select-dropdown.dropdown-content li.selected {
  background-color: $light-gray;
}

.select-dropdown.dropdown-trigger {
  padding: 2px 16px !important;
  width: 100%;
}

.create-col {
  @media (max-width: 1250px) {
    margin-bottom: 30px;
  }
}

.edit-label,
.create-label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $gray;
}
