.page-subtitle h4 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}

.select-dropdown {
  &.dropdown-content {
    top: 55px !important;
    max-height: 380px !important;

    li.selected {
      background-color: $light-gray;
    }
  }
}

.edit-label,
.create-label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $gray;
}

.categories-row {
  display: flex;
  .categories-col {
    &:first-of-type {
      margin-right: 104px;
      @media (max-width: 600px) {
        margin-right: 0px;
        margin-bottom: 30px;
      }
    }
    @media (min-width: 601px) {
      width: 350px;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
