.input-field > label {
  font-size: 12px;
  line-height: 18px;
  color: $gray;
  font-weight: 400;
  margin-bottom: 4px;
}

.select-wrapper {
  input.select-dropdown {
    background-color: $light-gray;
    border: none;
    border-radius: 14px;
    padding: 2px 16px;
    width: calc(100% - 32px);
    z-index: 0;
    font-size: 13px;
    line-height: 24px;
    color: $black;
    font-weight: 400;

    &:focus {
      border-bottom: none;
    }
  }

  svg {
    display: none;
  }
}


textarea {
  height: auto;
}

.income-outcome-radio {
  color: $black;
  line-height: 24px;
  font-weight: 400;
  font-size: 13px !important;
}

input#email,
input#password,
input#name {
  border-radius: 14px;
  background-color: $light-gray;
}

input#name {
  height: 3rem;
}
