$full-height: 100vh;
$color-invalid: #f44336;
$default-indentation: 2rem;
$black: #151515;
$yellow: #FFD842;
$blue: #428EFF;
$light-blue: #C5EAFF;
$gray: #8B949D;
$light-gray: #ECEEF0;
$dark-gray: #B6C4CF;
$white: rgb(255, 255, 255);
$pink: #FFA68A;

$small-mobile: 374px;
$mobile: 520px;
$large-mobile: 767px;

$small-tablet: 800px;
$tablet: 1001px;
$large-tablet: 1200px;

$desktop: 1400px;
$large-desktop: 1900px;
$extralarge-desktop: 2300px;

$arrow-down: url("../../icons/arrow-up.svg");
$arrow-up: url("../../icons/arrow-up.svg");